.ai-chat-wrapper {
  display: flex;
  width: 100%;
  height:100%; /* header height */
  position: relative;
  overflow: hidden;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
    color: white;   /* 🔥 ADD THIS */
}